.app {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url('./../public/booksBg.jpg') no-repeat center center/cover;

  .main {
    display: flex;
    background: rgba(0, 0, 0, 0.35);
    border-radius: 20px;
    overflow: hidden;
    height: 70%;
    max-width: 1300px;
    box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);

    .content {
      display: flex;
      flex: 1;
      gap: 20px;
      padding: 20px;
      justify-content: center;
    }
  }
}
